PORT=3000
APP_ENV=development
NODE_ENV=development
MONGO_URI_DEV=mongodb://127.0.0.1:27017/appcenar_dev
MONGO_URI_QA=mongodb://127.0.0.1:27017/appcenar_qa
MONGO_URI_PROD=mongodb://127.0.0.1:27017/appcenar_prod
MONGO_URI=mongodb://127.0.0.1:27017/appcenar
SESSION_SECRET=f0d2d2890df5919be124427441a11446
BASE_URL=http://localhost:3000
SENDGRID_API_KEY=SG.xxxxxxxxx
SENDGRID_FROM=tu-correo-verificado@tudominio.com
BREVO_API_KEY=xkeysib-xxxxxxxxx
BREVO_SENDER_EMAIL=tu-correo-verificado@ejemplo.com
BREVO_SENDER_NAME=AppCenar
ADMIN_NAME=Admin
ADMIN_LASTNAME=Principal
ADMIN_EMAIL=nasser05collado22@gmail.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_CEDULA=00000000000
